<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jjvu.xiao.easy_flutter_amap_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

     <!--<meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="ed1427080cd971b9de07a926c7bd0408">-->
</manifest>
